html, body {
  margin: 1rem;
  line-height: 2;
  font-size: 17px;
  font-family: BlinkMacSystemFont, "Segoe UI", Cantarell, Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

*:active, *:focus {
  outline: 0;
}

#service-picker {
  margin-bottom: 1rem;
}

.srht_only { display: none; }
.srht .srht_only { display: inline; }
.pomf_only { display: none; }
.pomf .pomf_only { display: inline; }
.owo_only { display: none; }
.owo .owo_only { display: inline; }
.nothingdomains_only { display: none; }
.nothingdomains .nothingdomains_only { display: inline; }
.elixire_only { display: none; }
.elixire .elixire_only { display: inline; }

.form-group {
  margin-bottom: 0.5rem;
}

#img-host-label {
  font-weight: bold;
}

input[type="text"], input[type="password"], select {
  padding: 0.5rem;
  width: 100%;
  font-size: inherit;
}

input[type="text"], input[type="password"] {
  border: solid 1px #ccc;
  border-radius: 0.15rem;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #999;
}

#img-host {
  width: 100%;
}
